.edit-icon, .delete-icon{
    cursor: pointer;
}

.player{
    display: inline-block;
    padding: 10px;
}

.player-lost{
    display: inline-block;
    padding: 10px;
    opacity: 0.5; 
    background-color: gray;
}

